<!-- there is a problem that the view can't access anything currently, we need a way to make it interact with the rest of the site -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p data-module="image_view_error_handler"><i class="fa fa-warning"></i>This resource view is not available at the moment</p>
<!-- <img style="margin:auto; max-height:100%; display:block" src="{{ resource_view.get('image_url') or resource.get('url') }}" data-module="image_view_error_handler" /> -->
