dl .popover .nums {
    border: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 55%;
  }
  
  dl .popover .license {
    word-break: keep-all;
  }
  
  dl .popover .go-to-dataset {
    float: right;
  }