version: '3.9'
services:

  db:
    image: postgis/postgis:13-3.1
    restart: always
    environment:
      - POSTGRES_USER=ckan_default
      - POSTGRES_PASSWORD=pass
    ports:
      - '5433:5432'
    volumes: 
      - ckan_db:/var/lib/postgresql/data
      - ./postgis/create_ckan_default_db.sql:/docker-entrypoint-initdb.d/create_ckan_default_db.sql
      - ./postgis/ckan_dump.sql:/docker-entrypoint-initdb.d/ckan_dump.sql

  ckan_wro:
    build: ../
    container_name: ckan_wro
    ports:
      - '9000:5000'
    depends_on:
      db:
        condition: service_started
      solr:
        condition: service_started

  solr:
    image: ckan/ckan-solr:2.9-solr8 
    volumes:
      - type: bind
        source: $PWD/solr/schema.xml
        target: /opt/solr-8.11.1/server/solr/ckan/conf/schema.xml
    ports:
      - "8985:8983"

volumes:
  ckan_vol:
  ckan_config:
  ckan_db:
  solr_data: