include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/gcs_upload *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/gcs_upload/migration *.ini *.py *.mako
