<div class="about_and_latest_states_container">
    <div class="about_wro">
        <h1>WELCOME TO THE WRO</h1>
        <h5 style="font-size: 18px;">
            The Water Research Observatory is an ongoing project funded by South Africa's 
            Water Research Commission (WRC) (Project no. C2020/2021-00440 ).
            It aims to bring together important water-related datasets and information, 
            including past research and current monitoring data, to enable big data 
            analytics and the more sustainable management of water resources.
            <br/>
            <div class="about_page_home_anchor_tag"><a>MORE ABOUT US</a> <i class="fa fa-long-arrow-right"></i></div>
        </h5>
    </div>
    <div class="wro_stats">
        <div class="icon-stack">
            <div class="icon-stats-container">
                <p>19</p>
                <i class="fa fa-files-o fa-6x"></i>
            </div>
            <p class="datasets-text">DATASETS</p>
        </div>
        <div class="icon-stack">
            <div class="icon-stats-container">
                <p>8</p>
                <i class="fa fa-users fa-6x"></i>
            </div>
            <p class="orgs-text">ORGANIZATIONS</p>
        </div>
        <div class="icon-stack">
            <div class="icon-stats-container">
                <p>0</p>
                <i class="fa fa-tags fa-6x"></i>
            </div>
            <p class="categories-text">CATEGORIES</p>
        </div>
    </div>
</div>

