<div class="head-background">
    <div class="website-home-intro-text"></div>
    <div class="wro-nav-container">
        <div class="contact-icon">
            <i class="fa fa-user fa-2x"></i>
            <p class="icon-text">Contact</p>
        </div>
        <div class="contact-icon">
            <i class="fa fa-files-o fa-2x"></i>
            <p class="icon-text">Datasets</p>
        </div>
    </div>
    <div class="search-container">
        <input class="search-action" placeholder="&#xf002; SEARCH DATASETS .." autofocus />
    </div>
</div>