<div class="outstanding-cases-section">
    <div class="first-outstanding-case">
        <div class="first-outstanding-case-container">
            <p class="first-outstanding-case-title">
                Unleashing the power of analytics, working with Google Big Query
            </p>
            <p class="first-outstanding-case-paragraph">
                Team WRO used google bigquery to work with a bunch of 
                geo-referenced data, some interesting findings can be 
                <a class="use-case-read-more-anchor">read here</a>
            </p>
        </div>
    </div>
    <div class="second-outstanding-case">
        <div class="second-outstanding-case-container">
            <p class="second-outstanding-case-title">
                Stressing computation to the edge, the case of Swift model
            </p>
            <p class="second-outstanding-case-paragraph">
                As we work with few US partners on an adjacent project, we've
                pushed the computation of GCP (Data-proc, Data-prep, GCS, ..etc.)
                to a great length, find out <a class="use-case-read-more-anchor">more here</a>
            </p>
        </div>
    </div>
</div>