<div class="info-context">
    <div class="nums">
        <dl>
            <dt>Followers</dt>
            <dd>{{ h.follow_count('dataset',id) }}</dd>

            <dt>Resources</dt>
            <dd>{{ num_resources }}</dd>
        </dl>
    </div>
    <div class="license">
        <dl>
            <dt>License</dt>
            <dd>{{ license }}</dd>
        </dl>
    </div>
    <div class="clearfix"></div>
    <a class="btn go-to-dataset" href="{{ h.url_for('dataset.read', id=id) }}">
       Go to dataset <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>